Configuration/Include Headers
Binaries/
Trash/
.gitignore~
*.swp
*~
error.log
git.sh
gitignore

	deleted:    ../Documentation/Casos de Uso en SQL/1-Recordatorios
	deleted:    ../Documentation/Casos de Uso en SQL/2-CategoriasGasto
	deleted:    ../Documentation/Casos de Uso en SQL/2-CategoriasGasto2
	deleted:    ../Documentation/Casos de Uso en SQL/3-CategoriasIngreso2
	deleted:    ../Documentation/Casos de Uso en SQL/4-Listas
	deleted:    ../Documentation/Casos de Uso en SQL/4-Listas2
	deleted:    ../Documentation/Casos de Uso en SQL/5-Gastos
	deleted:    ../Documentation/Casos de Uso en SQL/5-Gastos2
	deleted:    ../Documentation/Casos de Uso en SQL/6-Ingresos
	deleted:    ../Documentation/Casos de Uso en SQL/7-Items
	deleted:    ../Documentation/Casos de Uso en SQL/Caso de uso Generico
	deleted:    ../Documentation/Casos de Uso en SQL/TRASH.CasosDeUso
	deleted:    ../Documentation/ConsultaForo


uu
